/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {display:block;}
/* ---reset.css--- */

html {	
	font-family:Helvetica, sans-serif;
	-webkit-text-size-adjust:none;
}

body{
 background-color:hsla(0,0%,6%,1.00);
}

a[href *="updog"]{display:none!important;}

/* --電腦版型------------------------------------- */

#TOP-MENU{display:none;}

header{
	width:100%;
	height:600px;
	margin:0 auto;
	background-image: url(../images/header.jpg);
	background-size:cover;
	background-position:left;
	background-color:#000;
	background-repeat: no-repeat;
}

.top_text{ font-family: "微軟正黑體";
	text-shadow:2px 1px 3px #000;
	width:40%; height:auto; display: block;
	margin:150px auto 0% 45%;
	font-size:0.9rem; line-height: 1.6rem;
padding: 20px;}
.top_text h1{color: #fff;
	width:100%; display:block;
	font-size:1.8rem; line-height: 3rem; }
.top_text p{width:100%; color: #fff;padding:10px 0;
	height: auto;}
nav{
	width:550px;
	height: auto;
	margin:0px auto 0% 44%; padding-top: 40px;
}
nav ul{
	width:100%;
	height: auto;
}
nav li{width:25%; float: left;
	margin-left: 4%; margin-top: 4px;
	background-color: hsla(0,1%,14%,1.00);
	border: solid 0.2rem hsla(22,90%,35%,1.00);
	border-radius:30px;
}
nav li a{font-size:1rem; letter-spacing: 1px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	color:hsla(22,72%,48%,1.00);
	font-weight:bold;}

nav li a:hover{font-size:0.9rem;
	color:#FFF;
}
artile{
	width:100%; height: auto;
	margin:0 auto;
	background-color: hsla(30,48%,88%,1.00);
}
artile h3{
	font-size:1.6em; letter-spacing: 2px;
	font-family: "微軟正黑體";
	line-height:2;
	border-bottom:1px solid #6C461B;
	color:#F79D4F;
	text-align:center;
}
artile h4{font-size:1.2em; letter-spacing: 2px;
	font-family: "微軟正黑體";
	line-height:2;
	border-bottom:1px solid #6C461B;
	color:#F79D4F;
	text-align:center;}
artile p{
	font-size:0.8rem;
	line-height:1.8;
	padding:8px;
	color:#AC9F7D;
}
.box{width:100%;display: block; padding-bottom: 20px;
	margin:20px auto;}
.box ul{margin:50px auto; min-height: 160px;}
.box ul li{ float: left;}
.boxA{width:100%;display: block; padding-bottom: 20px;
	margin:20px auto; background-color: hsla(240,12%,8%,1.00)}
.boxA ul{margin:50px auto; min-height: 160px;}
.boxA ul li{ float: left;}
.title{ width: 160px;
	line-height:2.4rem;
	margin:40px auto;
	color:hsla(22,90%,35%,1.00);
	background-color:#1E110A;
	border: solid 0.3rem hsla(22,90%,35%,1.00);
	border-radius: 1.4rem;
	text-align: center; 
font-weight: bold; letter-spacing: 1px;}
.education,#exp,.skill
{width:1000px; padding: 20px 0;margin:0px auto;}
.education p{ text-align: center; }
.education ul{ display: block;}
.education ul li{width:44%; margin:0 3%;}
#exp{}
#exp ul{ width: 100%; height:250px;}
#exp ul li{ float: left; width:18%; margin:0 1%;}
.skill{}
.skill ul li{width:18%;}
.project{width:1000px; ;margin:0px auto;}
.project ul{}
.project ul li{width:19%;margin:0 3%; display: block;}
#works{width:1000px; height:980px;
	overflow: hidden;
	padding: 20px 0;margin:0px auto;}
#works ul{width:100%;}
#works ul li{ float: left; width:18.5%; height:150px; 
	display: block;margin:10px 0.7%;background-color: aqua;}
footer{
	clear:both;
	width:100%;
	margin:0 auto;
	background-color:#045E5A;
	padding:20px 0px;
}
footer p{
	font-size:0.8rem;
	text-align:center;
	line-height:1.6;
	color:#FFF;
}

/* --手機版型------------------------------------- */

@media screen and (max-width: 768px) {
	
*{box-sizing:border-box; /* 讓 padding 與 width 解除關係 */}
html,body{-webkit-text-size-adjust:none;/* iPhone 旋轉後 文字不要放大 */}
main{min-width:320px;}	
	#TOP-MENU{
		display:block;
		width:100%;
		height:60px;
		position:relative; /* 外層相對 */
		background-color:#802309;
	}
	#TOP-MENU #BTN{  /* 製作手機版 右上角的按鈕 */
		display:block;
		width:60px;
		height:40px;
		background-image: url(../images/btn.png);
		position:absolute;  /* 子層絕對 */
		right:5px;
		top:10px;
		text-indent:-9999px;
	}
	
	nav{
		width:100%;
		height:auto; /* 高度自動 */
		background-color:#000;
		display:none;  /* 把主選單先關掉 */
		margin: 0 auto;
		padding: 0;
	}
	nav ul{
		width:100%;
		height:auto; /* 高度自動 */
	}
	
	nav li{ margin:4px 0;
		width:100%;height:50px; 
		float:none; 
	border-radius:0;
	border: 0;
		
	}
	
	nav li a{
		display:block;
		width:100%;
		height:50px;
		line-height:50px;
		text-align:center;
		text-decoration:none;
		background-color: hsla(0,1%,14%,1.00);
		color:#B86C0C; font-size: 1.2rem;
	}
	
	nav li a:hover{
		background-color:#1A0A25;
		font-size: 1.2rem;
	}
	
	header{
	width:100%;
	height:0;
	margin:0 auto;
	padding-bottom:110%; 
	background-image: url(../images/header.jpg);
	background-size:cover;
	background-color:#000;
		background-position: left bottom;
	background-repeat: no-repeat;
}
.top_text{ font-family: "微軟正黑體";
	text-shadow:2px 1px 3px #000;
	width:70%; height:auto; display: block;
	margin-left:30%; margin-top: 0;
	font-size:1rem; line-height: 1.4rem;
    padding-top: 50px;}
.top_text h1{color: #fff;
	width:100%; display:block;
	font-size:1.4rem; line-height: 3rem; }
.top_text p{width:100%; color: #fff;padding:0;
	height: auto;}
	
	artile{
	width:100%; height: auto;
	margin:0 auto;
	background-color: hsla(30,48%,88%,1.00);
}
	artile h3{
	font-size:1.4em; letter-spacing: 2px;
	font-family: "微軟正黑體";
	line-height:2;
	border-bottom:1px solid #6C461B;
	color:#F79D4F;
	text-align:center;
}
artile h4{font-size:1.4em; letter-spacing: 2px;
	font-family: "微軟正黑體";
	line-height:2;
	border-bottom:1px solid #6C461B;
	color:#F79D4F;
	text-align:center;}
artile p{
	font-size:1rem;
	line-height:1.8;
	padding:8px;
	color:#AC9F7D;
}
.box{width:100%;display: block; padding-bottom: 20px;
	margin:00px auto;}
.box ul{margin:10px auto; min-height: 160px;}
.box ul li{ float: none;}
.title{ width:70%px;
	line-height:2.4rem;
	margin:40px auto;
	color:hsla(22,90%,35%,1.00);
	background-color:#1E110A;
	border: solid 0.3rem hsla(22,90%,35%,1.00);
	border-radius: 1.4rem;
	text-align: center; 
font-weight: bold; letter-spacing: 1px;}
.education,#exp,.skill
{width:100%; padding: 20px 0;margin:0px auto;}
.education p{ text-align: center; }
.education ul{ display: block;}
.education ul li{width:90%; margin:0 5%;}
#exp p{ text-align: center;}
#exp ul{ height: auto;}
#exp ul li{ float: left; width:90%; min-height: 220px; margin:0 5%;}
.skill{}
.skill ul li{width:18%;}
.project{width:100% ;margin:0px auto;}
.project ul{}
.project ul li{width:19%;margin:0 3%; display: block;}
#works{width:100%; height:700px;
	overflow: hidden;
	padding: 20px 0;margin:0px auto;}
#works ul{width:100%;}
#works ul li{ float: left; width:18.5%; height:150px; 
	display: block;margin:10px 0.7%;background-color: aqua;}
footer{
	clear:both;
	width:1000px;
	margin:0 auto;
	background-color:#045E5A;
	padding:20px 0px;
}
footer p{
	font-size:13px;
	text-align:center;
	line-height:1.8;
	color:#FFF;
}

}